.landing {
  position: relative;
  width: 100%;
  height: 100vh;
}

.moving {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: -1;
  animation: movingPattern 10s linear infinite;
}

@keyframes movingPattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 20px;
  }
}
.image {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .image {
    display: none;
  }
}
/* Feature.module.css */

/* CSS classes for fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeinup {
  animation: fadeInUp 0.5s ease-in-out forwards;
  opacity: 0; /* Initially set the opacity to 0 */
}
